:root {
  --primary-color: rgba(26, 65, 97, 0.753);
  --primary-background: rgb(41, 47, 51);
  --primary-text: rgb(169,171,179);
  --secondary-text: rgb(255, 255, 255);
  --tertiary-text: rgb(97, 164, 240);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-background);
  color: var(--primary-text);
  font-family: 'Quicksand', sans-serif;
}

/* Navigation and Hero Styles */
nav {
  padding: 10px;
}

.hero {
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  z-index: 9999;
  color: var(--secondary-text);
  margin: 0;
}

.hero-info {
  padding: 100px;
}

.hero-info div {
  background-color: rgba(0, 0, 0, 0.164);
  padding: 10px;
}

.link-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-size: 20px;
  margin: 0;
  padding: 10px 100px;
}

/* TL;DR Segment Links Styling */

section {
  margin: 20px;
}


/* Social Media Styling Start */


/* Social Media Styling End */
a {
  text-decoration: none;
  color: var(--secondary-text);
}

a:hover {
  text-decoration: none;
  color: var(--tertiary-text);
}

/* Footer Styling */
footer p{
  background-color: var(--primary-color);
  padding: 10px;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .hero {
      background-position: bottom;
  }
  .hero nav ul li {
      border: 10px rgb(255, 255, 255);
  }

  .hero-info {
      padding: 10px;
  }

  .hero-info div h1 {
      font-size: 2em;
  }

  .hero-info div h3 {
      font-size: 1em;
  }

  .hero-info div p {
      font-size: 0.7em;
  }
}

@media screen and (max-width: 575px) {
  .hero {
      background-position: bottom;
  }
  nav ul{
      background-color: rgba(0, 0, 0, 0.164);
  }
}